  name: CI - Build Backend

  on:
    pull_request:
      branches:
        - main
      paths:
        - backend/**

  jobs:
    # Label of the container job
    build:
      # Containers must run in Linux based operating systems
      runs-on: ubuntu-latest
      defaults:
        run:
          working-directory: ./backend
      # Service containers to run with `container-job`
      services:
        # Label used to access the service container
        postgres:
          # Docker Hub image
          image: postgres:17.6
          # Provide the password for postgres
          env:
            POSTGRES_USER: amigoscode
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: customer
          # Set health checks to wait until postgres has started
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

      steps:
        - uses: actions/checkout@v5
        - uses: actions/setup-java@v5
          with:
            distribution: 'temurin'
            java-version: '21'
            cache: 'maven'
        - name : Build and run Unit/Integration Tests with Maven
          run: mvn -ntp -B verify